.js-custom-select {
    display: none;
}
.field-dropdown {
    display: block;
    cursor: pointer;
    position: relative;
    &.open {
        .field-dropdown-list {
            display: block;
            z-index: 50;
            li {
                display: block;
                text-overflow: ellipsis;
								padding: 0 0 0 22px;
								width: 100%;
								height: 50px;
								line-height: 50px;
								color: #454545;
                &.hover {
										background: #4d7bd7;
										color: white;
                }
            }
				}
				.value-field {
					.open-icon {
						transform: rotateZ(180deg);
					}
				}
    }
    .field-dropdown-list {
        display: none;
        background: white;
				position: absolute;
				border: solid 1px #e1e1e1;
				border-top: none;
        top: 100%;
        left: 0;
        right: 0;
				padding-left: 0;
				padding-right: 14px;
        margin: 0;
        z-index: 200;
        list-style-type: none;
    }
    .value-field {
        display: table;
        width: 100%;
        color: #454545;
        position: relative;
        border-bottom: 1px solid #e1e1e1;
				line-height: 50px;
				height: 50px;
        border-radius: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .value-field {
            display: table-cell;
        }
        .open-icon {
						position: absolute;
						right: 0;
						display: inline-block;
						height: 7px;
						width: 12px;
						margin-top: 22px;
        }
    }
}

